<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table> 
    <thead>
      <tr>
        <th class="<%= sort_class('title') %>">
          <%= link_to 'Title', movies_path(sort: 'title', direction: toggle_direction('title')) %>
          <%= sort_icon('title') %>
        </th>
        <th class="<%= sort_class('rating') %>">
          <%= link_to 'Rating', movies_path(sort: 'rating', direction: toggle_direction('rating')) %>
          <%= sort_icon('rating') %>
        </th>
        <th class="<%= sort_class('release_date') %>">
          <%= link_to 'Release Date', movies_path(sort: 'release_date', direction: toggle_direction('release_date')) %>
          <%= sort_icon('release_date') %>
        </th>
        <th>More Info</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td class="<%= sort_class('title') %>"><%= movie.title %></td>
          <td class="<%= sort_class('rating') %>"><%= movie.rating %></td>
          <td class="<%= sort_class('release_date') %>"><%= movie.release_date.strftime("%Y-%m-%d") %></td>
          <td>
            <%= link_to "Show this movie", movie %>
          </td>
        </tr>
        
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th colspan="4">Total Movies: <%= @movies.count %></th>
      </tr>
    </tfoot>
  </table>
</div>

<%= link_to "New movie", new_movie_path, class:'nav-btn' %>
